html {
<<<<<<< HEAD
    font-size: 16px;
}
body {
    padding-top: 50px;
=======
    font-size: 14px;
}
body {
    padding-top: 30px;
>>>>>>> 0a6125e16747296c876184e3d7cc0a67ae2cff92
}
.picker__select--year,
.picker__select--month {
    display: inline !important;
    width: auto !important;
}
.friends.items .item .image {
    font-size: 3em;
}
#addFriendForm {
    min-height: 280px;
}
.card .header {
    text-transform: capitalize;
}
<<<<<<< HEAD
.card .header span,
=======
.card .header span {
  background: #fbbd08;
}
>>>>>>> 0a6125e16747296c876184e3d7cc0a67ae2cff92
.card .meta span{
    background: #91DEFF;
}
.picker__holder {
    overflow: hidden;
<<<<<<< HEAD
}
=======
}
.ui.container {
  padding-bottom: 150px;
}
#searchFriendForm .field input {
  width: 400px;
}
#searchFriendForm .field #addFriend {
  margin-left: 40px;
}
#friends .card .extra.content .edit-friend:hover {
  color: #21ba45;
  cursor: pointer;
}
#friends .card .extra.content .edit-friend:hover i {
}
#friends .card .extra.content .delete-friend-prompt:hover {
  color: #db2828;
  cursor: pointer;
}
#friends .card .extra.content .delete-friend-prompt:hover i {
}
.ui.card, .ui.cards>.card{
  width: 270px;
}
>>>>>>> 0a6125e16747296c876184e3d7cc0a67ae2cff92
